#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}
// Main Container
.app__header {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8rem;
  border: 2px solid red;
}

.app__header-img,
.app__thoughts-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__header-img {
  position: relative;

}

.header__circle {

}

.header__profile {
  position: absolute; /* Position within the circle */

}

/* Styles for the thoughts column */
.app__thoughts-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start; /* Align items to the top */
  margin-left: 20px; /* Space between header and thoughts */
}

/* Styles for the thinking images */
.thinking__java,
.thinking__aws {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  margin-bottom: 10px; /* Space between images */
}

