#home {
  position: relative;
  background: url("../../assets/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  // disable the default padding styles
  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 8rem;
  border: 2px solid red;


.app__header-img{
position: relative;
}
.header_image{
  position: absolute;
  width: 100%;
}

  .header_image {
    border: 2px solid rgb(0, 68, 128);
  }



}